body {
    background-color: rgb(127, 255, 165);
    text-align: center;
    border: 50px;

}

#text {
    background-color: rgb(47, 252, 91);
    text-align: left;
}

#imgId {
    text-align: center;
}

h1 {
    font-size: 1in;
    letter-spacing: 10px;
    text-align: center;
}

h2 {
    letter-spacing: 10px;
    text-align: center;
}

:root {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 30px;
    border-color: blue;
}

ul {
    font-family: sans-serif;
    border-color:rgb(48, 48, 247);
    border-width: 10px;
    border-style: solid;
}