body {
    background-color: #1a1a1d;
    display: flex;
    flex-direction: column;
}

#Survey {
    display: flex;
    flex-direction: column;
    background-color: #950740;
    padding: 30px;
    margin: 60px;
}

#title {
    size: 30px;
    text-align: center;
    font-weight: bold;
}

#description {
    size: 20px;
    text-align: center;
    font-weight: bold;
}
