body {
    background-color: #1a1a1d;
    display: flex;
    flex-direction: column;
}

#Survey {
    display: flex;
    flex-direction: column;
    background-color: #950740;
    padding: 30px;
    margin: 60px;
}

#title {
    size: 30px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}

#description {
    size: 20px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}

#name {
    display: flex;
    float:inline-start;
    padding: 30px;
    padding-bottom: 30px;
}

#name-input {
    display: flex;
    
}