
body {
    background: linear-gradient(35deg,#1c1cd6,#bf18c5);
    display: flex;
    flex-direction: column;
}

#Survey {
    display: flex;
    flex-direction: column;
    background-color: #f80e6b;
    padding: 30px;
    margin: 60px;
}

#title {
    size: 30px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}

#description {
    size: 20px;
    text-align: center;
    font-weight: bold;
    color: aliceblue;
}

#name {
    display: flex;
    
}

#name-input {
    display: flex;
}